{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <script>
        function validateForm() {
            var username = document.forms["login_form"]["username"].value;
            var password = document.forms["login_form"]["password"].value;

            if (username == "" || username == null) {
                alert("Enter a username");
                return false;
            }

            if (password == "" || password == null) {
                alert("Enter a password");
                return false;
            }
        }
    </script>
    <form action="/login" method="post" name="login_form" onsubmit="return validateForm()" required>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
